 Empty. Add your own CSS if you like */

#custom-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(200, 197, 172);
}

#custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.dashboard-bg {
    display: inline-block;
    position: relative;
    height: 100%
}
.scroll{
    height: 100%;
}
#footer_buttons{
    display: flex;
    width: 100%;
    padding: 0px;
}
.dashboard-img {
    
    margin: 0 auto;
    width: 100%;
    height: 85%;
}

.dashboard-bg .alarm {
    position: absolute;
    top: 5px;
    right: 5px;
}
.dashboard-bg .alarm-d1 {
  background-color: #c2bebe;
  color:white;
}
.dashboard-bg .alarm-d2 {
  background-color: #c2bebe;
  color:white;
}
.mb0{
	margin-bottom: 0 !important;
}
/*.has-header {
    top: 0px;
}*/
/*.padding {
    padding: 0px;
}*/
.toggle .track{
    width: 23px;
    height: 13px;
}
#page-toggle3{
    height: 10px;
    width: 134px;
    left: 65%;
}
#dashboard_top{
    margin-left: -10px; 
    width: calc(100% + 20px);
}
#dashboard_image{
    display: block; 
    width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}
#prayer_alert{
    position: absolute;
    top: 8px;
    left: 6%;
}
.toggle .handle{
    width: 8px;
    height: 10px;
    left: 6px;
    top: 29%;
}
#dashboard_timeheading{
   /* color:#000000;
    font-weight:300;*/

        position: fixed;
    height: 8px;
    width: 117px;
    float: right;
    top: 56px;
    right: 4%;
}
.item-toggle, .item-toggle.item-complex .item-content {
    padding-right: 37px;
}
.toggle-small.item-toggle .toggle {
    top: 11px;
}
.item-toggle .toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}
.profilebutton{
    border: 2px solid #fafafa;
    z-index: 2;
    background-color: blueviolet;
    position: absolute;
    left: 6%;
    color: white;
    top: 74%;
    margin: auto;
    /* content: 'pray'; */
    border-radius: 50%
}
#dashboard_form {
    background: url(../img/dashboard_image.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#dashboard_toggle{
    position: fixed;
    height: 10px;
    width: 117px;
    float: right;
    top: 18px;
    right: 4%;
}
#prarthanakal_image{
    display: block; 
    width: 99%; 
    height: 400px; 
    margin-left: auto; 
    margin-right: auto;
}
#prarthanakal_japamalaheading{
    color:#000000;
    margin-top: -5px;
    width: 140px;
    float: left;
    text-align: center;
}
#prarthanakal_karunaheading{
    color:#000000;
    margin-top: -7px;
    width: 140px;
    float: right;
    text-align: center;
}
/*.item:last-child {
    width: 147px;
    position: absolute;
    left: 62%;
    height: 50px;
    top: -26965%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}*/
#page-heading1{
    color: #000000;
    font-weight: 300;
    top: 9%;
    position: absolute;
    left: 60%;
}
#page-container1{
    color: #000000;
    font-weight: 300;
    top: 9%;
    position: absolute;
    width: 135px;
    left: 64%;
}
#top_label{
    position: absolute;
    top: 10%;
}
#completed_label{
    color: #000000;
    font-weight: 400;
    position: absolute;
    top: 82%;
    font-size: 14px;
}
#prayerRequest-markdown1{
    position: absolute;
    top: -790%;
    left: 10%;
    color: white;
}
#prayerRequest-markdown2{
    position: absolute;
    top: -700%;
    left: 10%;
    color: white;
}
#prayerRequest-markdown3{
    position: absolute;
    top: -610%;
    left: 10%;
    color: white;
}
#prayerRequest-markdown6{
    position: absolute;
    top: -520%;
    left: 10%;
    color: white;
}
#prayerRequest-markdown7{
    position: absolute;
    top: -430%;
    left: 10%;
    color: white;
}
#prayerRequest-input1{
    position: absolute;
    top: -660%;
    left: 10%;
    width: 81%;
    height: 33px;
}
#prayerRequest-input2{
   position: absolute;
    top: -760%;
    left: 10%;
    width: 81%;
    height: 33px; 
}
#prayerRequest-input4{
     position: absolute;
    top: -570%;
    left: 10%;
    width: 81%;
    height: 33px; 
}
#prayerRequest-input3{
    position: absolute;
    top: -480%;
    left: 10%;
    width: 81%;
    height: 33px;  
}
#prayerRequest-textarea1{
    position: absolute;
    top: -390%;
    left: 10%;
    width: 81%;
    height: 75px;
}
#prayerRequest-button13{
    top: -173px;
    margin-left: 250px;
    width: 21%;
    margin-top: 12px;
}
#rosary_image{
    width: 140px;
    height: 140px;
    margin: 1em auto;
    background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
   /* margin-left: 30px;*/
}
#jesus_image{
    width: 140px;
    height: 140px;
    float: right;
    margin: 1em auto;
    background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    /*margin-left: 40px;*/
}
/*#toggle_track{

}