<ion-view title="dashboard_test1" id="page6">
  <ion-content padding="true" class="has-header">
  <div id="form_id">
    <form id="dashboard_form" class="list">
      <ion-toggle toggle-class="toggle-positive" id="dashboard_toggle"><label id="prayer_alert">Prayer Alert</label></ion-toggle>
      <div id="dashboard_timeheading" class="item"><label id="top_label">Time : 7:00 PM</label></div>
      <!-- <h3 id="dashboard_timeheading">Time : 7:00 PM</h3> -->
   <!--  <div class="spacer" style="width: 300px; height: 207px;"></div>  -->

    <button id="dashboard_test1-button14" class="button button-positive  button-block">Tap me!</button>
     </form>
</div>
     <div id="dashboard_test1-button-bar2" class="button-bar">
      <button id="dashboard_test1-button18" class="button"><img src="img/ims_prayerrequest.png"></button>
      <button id="dashboard_test1-button19" class="button"><img src="img/ims_prayerforum.png"></button>
      <button id="dashboard_test1-button21" class="button"><img src="img/ims_voice.png"></button>
      <button id="dashboard_test1-button22" class="button"><img src="img/ims_donate.png"></button>
    </div>

    <div id="dashboard_test1-button-bar2" class="button-bar">
    <!--  <div class="row"> -->
    <!-- <div class="col-md-12"> -->
      <button id="button_donate"><img src="img/ims_prayerrequest.png"></button>
      <button id="button_donate"><img src="img/ims_prayerforum.png"></button>
      <button id="button_donate"><img src="img/ims_voice.png"></button>
      <button id="button_donate"><img src="img/ims_donate.png"></button>
       <!-- </div>  -->
    </div>
<!-- <div class="row">
  <div class="col-md-1"><button id="button_donate"><img src="img/ims_prayerrequest.png"></button></div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1"><button id="button_donate"><img src="img/ims_prayerrequest.png"></div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1"><button id="button_donate"><img src="img/ims_prayerrequest.png"></div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1"><button id="button_donate"><img src="img/ims_prayerrequest.png"></div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1"><button id="button_donate"><img src="img/ims_prayerrequest.png"></div>
  <div class="col-md-1">.col-md-1</div>
</div> -->

     <div id="dashboard_test1-button-bar2" class="button-bar">
     <div class="row">
    <!-- <div class="col-md-12"> -->
      <div class="col"><button id="button_donate"><img src="img/ims_prayerrequest.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_prayerforum.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_voice.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_donate.png"></button></div>
       </div> 
    </div>

     <!--  <button id="dashboard_test1-button18" class="button button-positive  button-block">1</button>
      <button id="dashboard_test1-button19" class="button button-positive  button-block">2</button>
      <button id="dashboard_test1-button20" class="button button-positive  button-block">3</button> -->
    <!-- </div> -->
    <!--  <div id="dashboard_test1-button-bar2" class="button-bar">
      <div class="row">
      <div class="col"><button id="button_donate"><img src="img/ims_prayerrequest.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_prayerforum.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_voice.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_donate.png"></button></div>
    </div>
    </div> -->
  </ion-content>
</ion-view>