<ion-view view-title="Dashboard">
    <ion-content>
        <div class="dashboard-bg">
            <div class="alarm">
                <div class="alarm-d1">
                    <ion-toggle toggle-class="toggle-positive" id="dashboard_toggle">
                        <label id="prayer_alert">Prayer Alert</label>
                    </ion-toggle>
                    <div id="dashboard_timeheading" class="item">
                        <label id="top_label">Time : 7:00 PM</label>
                    </div>
                    <!-- <div class="row">
                    <h5 class="mb0">Prayer Alert </h5><span class="item-toggle">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">
                            <div class="track" id="toggle_track">
                               <div class="handle"></div>
                            </div>
                        </label>
                    </span>
                 </div>  -->
                </div>
                <!-- <div class="alarm-d2">
                    <h5>Time : 07:00 PM</h5>
                </div> -->
            </div>
            <img src="img/dashboard.png" class="dashboard-img" />
            <div class="row icon-row" id="footer_buttons">
                <div class="col text-center">
                    <button id="button_donate" ui-sref="app.prayerrequest"><img src="img/ims_prayerrequest.png">
                </div>
                <div class="col text-center">
                    <button id="button_donate"><img src="img/ims_prayerforum.png">
                </div>
                <div class="col text-center">
                    <button id="button_donate"><img src="img/ims_voice.png">
                </div>
                <div class="col text-center">
                    <button id="button_donate"><img src="img/ims_donate.png">
                </div>
            </div>
            <!--  <div class="row"> -->
            <!-- <div class="col-md-12">  -->
            <!--  <div class="col"><button id="button_donate"><img src="img/ims_prayerrequest.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_prayerforum.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_voice.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_donate.png"></button></div> -->
            <!-- </div>  -->
            <!-- </div> -->
        </div>
        <!-- <div class="row">

        <div class="col">
         <button class="button icon ion-navicon"></button>
        </div>
        <div class="col">
        <button ion-button large>Large</button>
        </div>
         <div class="col">
          <button class="button icon ion-star"></button>
        </div>
        <div class="col">
         <button class="button icon ion-checkmark-round"></button>
        </div>
    </div> -->
    </ion-content>
    <!-- <button ion-button>Button</button> -->
    <!-- <button class="button button-light">
  button-light
</button> -->
    <!-- <div class="row"> 
    <div class="col col-50"><button class="button button-positive">
  button-positive
</button> </div><div class="col col-50"><button class="button button-positive">
  button-positive
</button></div>     
</div> -->
</ion-view>
