<ion-view title="Dashboard" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="dashboard-form6" class="list">
      <ion-toggle toggle-class="toggle-positive" id="dashboard-toggle5">Prayer Alert</ion-toggle>
    </form>
    <h4 id="dashboard-heading5" style="color:#000000;font-weight:300;">Time : 7:00 PM</h4>
  </ion-content>
</ion-view>