<ion-view title="Dashboard" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="dashboard_top">
      <img id="dashboard_image" src="img/dashboard.png">
    </div>
   <!--  <button id="page-button12" style="border-radius:50px 50px 50px 50px;" class="button button-light  button-outline pray-button">Pray</button> -->
     <button class="button profilebutton">Pray</button>
     <form id="page-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="page-toggle3"><span id="prayer_alert">Prayer Alert</span></ion-toggle>
    </form>
     <div id="page-container1" class="item"><label id="top_label">Time : 7:00 PM</label></div>
    <div>

    <h3 id="completed_label">Completed : 0</h3>
    </div>

    <div id="page-button-bar1" class="button-bar">
    <div class="row">
    <!-- <div class="col-md-12"> -->
      <div class="col"><button id="button_donate"><img src="img/ims_prayerrequest.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_prayerforum.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_voice.png"></button></div>
      <div class="col"><button id="button_donate"><img src="img/ims_donate.png"></button></div>
      <!-- </div> -->
    </div>
      <!-- <button id="page-button9" class="button button-positive  button-block">Prayer<br>Request</button>
      <button id="page-button10" class="button button-positive  button-block">Prayer Forum</button>
      <button id="page-button11" class="button button-positive  button-block">Voice Of<br>IMS</button> -->
        
        
        
       
    </div>
  </ion-content>
</ion-view>