<ion-view title="Prarthanakal" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dashboard.png" id="prarthanakal_image">
    </div>
    <!-- <div class="row">
     <div class="col-sm-3 col-md-6 col-lg-4">
      <img id="rosary_image" src="img/rosary_image.jpg">
    </div>
     <div class="col-sm-3 col-md-6 col-lg-4">
      <img id="jesus_image" src="img/jesus_images.jpg">
    </div>
    </div> -->
    <div class = "row">
   <div class = "col"><img id="rosary_image" src="img/rosary_image.jpg"></div>
   <div class = "col"><img id="jesus_image" src="img/jesus_images.jpg"></div>
   <!-- <div class = "col">col 3</div> -->
 </div>
    <div class="row">
    <div class="col"><h4 id="prarthanakal_japamalaheading">ജപമാല</h4></div>
     <div class="col"><h4 id="prarthanakal_karunaheading"> കരുണയുടെ ജപമാല</h4></div> 
   
    </div>
  </ion-content>
</ion-view>