<ion-view title="Prayer Request" id="page2" ng-controller="DashboardCtrl">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/prayer_request.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/prayer_request.png" style="display: block; width: 100%; height: 653px; margin-left: auto; margin-right: auto;">
        </div>
        <form id="prayerRequest-form4" class="list" method="post">
            <!--  <div class = "row">
   <div class = "col"> <div id="prayerRequest-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#fafafa;">Name</p>
      </div></div>
   </div> -->
            <!-- <div class = "col">col 3</div> -->
            <!-- <div class="row">
   <div class="col"><label class="item item-input" id="prayerRequest-input1">
        <span class="input-label"></span>
        <input type="text" placeholder="">
      </label></div>
 </div> -->
            <div id="prayerRequest-markdown1" class="show-list-numbers-and-dots">
                <p style="color:#fafafa;">Name</p>
            </div>
            <div id="prayerRequest-markdown2" class="show-list-numbers-and-dots">
                <p style="color:#fafafa;">Email Address</p>
            </div>
            <div id="prayerRequest-markdown3" class="show-list-numbers-and-dots">
                <p style="color:#fafafa;">Phone number</p>
            </div>
            <div id="prayerRequest-markdown6" class="show-list-numbers-and-dots">
                <p style="color:#fafafa;">Contact Address</p>
            </div>
            <div id="prayerRequest-markdown7" class="show-list-numbers-and-dots">
                <p style="color:#fafafa;">Prayer Request</p>
            </div>
            <label class="item item-input" id="prayerRequest-input1">
                <span class="input-label"></span>
                <input type="text" placeholder="" ng-model="inputEmailAddress">
                <!--  <input type="text" placeholder="" ngModel="inputEmail"> -->
            </label>
            <label class="item item-input" id="prayerRequest-input2">
                <span class="input-label"></span>
                <input type="text" placeholder="" ng-model="inputName">
            </label>
            <label class="item item-input" id="prayerRequest-input4">
                <span class="input-label"></span>
                <input type="text" placeholder="" ng-model="inputPhoneNumber">
            </label>
            <label class="item item-input" id="prayerRequest-input3">
                <span class="input-label"></span>
                <input type="text" placeholder="" ng-model="inputContactAddress">
            </label>
            <label class="item item-input" id="prayerRequest-textarea1">
                <span class="input-label"></span>
                <textarea placeholder="" ng-model="inputPrayerRequest"></textarea>
            </label>
            <button id="prayerRequest-button13" ng-click="saveprayer(inputName,inputEmailAddress,inputPhoneNumber,inputContactAddress,inputPrayerRequest)" class="button button-light  button-block">SUBMIT</button>
        </form>
    </ion-content>
</ion-view>
