<ion-view title="Prayer Request" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/prayer_request.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="prayerRequest-form4" class="list">
      <div id="prayerRequest-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name</p>
      </div>
      <label class="item item-input" id="prayerRequest-input5">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div id="prayerRequest-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Email Address</p>
      </div>
      <label class="item item-input" id="prayerRequest-input6">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div id="prayerRequest-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Phone number</p>
      </div>
      <label class="item item-input" id="prayerRequest-input7">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div id="prayerRequest-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Contact Address</p>
      </div>
      <label class="item item-input" id="prayerRequest-input9">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div id="prayerRequest-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Prayer Request</p>
      </div>
      <label class="item item-input" id="prayerRequest-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <button id="prayerRequest-button13" class="button button-light  button-block">SUBMIT</button>
    </form>
  </ion-content>
</ion-view>