<ion-view title="Register" id="page3" ng-controller="DashboardCtrl">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="inputName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="inputUserName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="" ng-model="inputPassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="" ng-model="inputLocation">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email Id</span>
                    <input type="text" placeholder="" ng-model="inputEmailId">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>
                    <input type="number" placeholder="" ng-model="inputPhoneNumber">
                </label>
            </ion-list>
             <!-- <button id="prayerRequest-button13" ng-click="registerusers(inputName,inputUserName,inputPassword,inputLocation,inputEmailId,inputPhoneNumber)" class="button button-stable  button-block">SUBMIT</button> -->
            <a id="register-button3" class="button button-stable  button-block"  ng-click="registerusers(inputName,inputUserName,inputPassword,inputLocation,inputEmailId,inputPhoneNumber)">Sign up</a> 
        </form>
    </ion-content>
</ion-view>